.app-home {
  height: 100%;
  padding: 10px;
  background-color: var(--dark-blue-color);
  color: var(--dark-blue-color-contrast);
}

button {
  margin: 8px;
  padding: 16px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  background: var(--yellow-color);
  color: var(--yellow-color-contrast);

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .04em;
}
  
button:hover {
  background: var(--yellow-color-tint);
}

